header{
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

body{
    margin: 0px;
    background-image: url(../image/pattern.jpg)
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

main{
    background-color: white;
    margin: 25px 150px 15px;
    padding: 25px;
}

h1{
    text-align: center;
}

article{
    margin-top: 10px;
    border-bottom:  solid 2px red;
}

footer{
    background-color: blueviolet;
    padding: 5px;
}