@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&family=Raleway&display=swap');

header{
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-left: 5%;
    padding-right: 10%;
}

body{
    margin: 0px;
    background-image: url(../image/pattern.jpg);
    font-family: 'PT Sans Narrow', sans-serif;
}

ul{
    list-style: none;
}

li{
    display: inline;
    margin-right: 10px;
}

a{
    text-decoration: none;
}

main{
    background-color: white;
    margin: 25px 150px 15px;
    padding: 25px;
}

article{
    border-bottom: black solid 2px;
    margin-top: 10px;
}

footer{
    background-color: black;
    color: white;
    padding: 1%;
    margin: 0;
    text-align: center;
}